#home {
    background-image: url('img/sb-blog-programming.png');
    background-size: cover;
    background-position: center; 
    color: white; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.container1{
    background-image: url('img/blue-zoom-background-of-a-cartoom-smiling-face.webp');
    background-size: cover;
    background-position: center; 
    color: white; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.container2{
    background-image: url('img/0130936b2eea1b178b041251c974c013.jpg');
    background-size: cover;
    background-position: center; 
    color: white; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.container3{
    background-image: url('img/pngtree-3d-rendered-image-illustrating-the-concept-of-coding-and-programming-picture-image_7283662.jpg');
    background-size: cover;
    background-position: center; 
    color: white; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.container4{
    background-image: url('img/lovepik-blue-network-cloud-service-background-image_500591774.jpg');
    background-size: cover;
    background-position: center; 
    color: white; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.container5{
    background-image: url('img/360_F_530960431_c8fPd3HansYvrSJ4fJxZqp9OhjQmYoll.jpg');
    background-size: cover;
    background-position: center; 
    color: white; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.footer{
    background-image: url('img/72c938ba19bd22ccbb5d60c151414c2d.jpg');
    background-size: cover;
    background-position: center; 
    color: white; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.my-custom-navbar{
    background: rgb(0,198,255);
background: linear-gradient(90deg, rgba(0,198,255,1) 12%, rgba(0,33,36,1) 52%, rgba(40,118,121,1) 82%);
}
.moving-text {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: move 10s linear infinite; 
}
.p{
    color: black;
}
